@font-face {
  font-family: SN pro;
  src: url("../fontes/Rubik/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: Rubik;
  src: url("../fontes/Rubik/Rubik-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    to right,
    rgb(81, 162, 254),
    rgb(147, 231, 255),
    rgb(108, 250, 252)
  );
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}
.cantenr {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.navbar {
  justify-content: space-between;
  position: relative;
  z-index: 9;
}
.navbar__main {
  display: flex;
  justify-content: space-between;
  position: fixed;

  margin-top: 20px 20px;
  align-items: center;
}

.navbar__logo--title {
  font-family: SN pro;
  color: rgb(255, 255, 255); /* ichi hira */
  -webkit-text-stroke: #ffffff;
}

.navbar__links {
  display: flex;
  gap: 30px;
}

.navbar__link {
  font-family: SN pro;
  font-size: 19px;
  color: black;
  transition: all 0.3s ease;
}

.navbar__link:hover {
  font-family: SN pro;
  font-size: 19px;
  color: rgb(61, 61, 61);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.navbar__main {
  background-color: rgb(81, 162, 254);
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px;
  margin-top: 25px;
  border-radius: 100px;
  position: fixed;
  box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
  width: 80%;
}

.navbar {
  display: flex;
  justify-content: center;
}

.habarlar {
  /* background-color: rgba(255, 255, 255, 0.358);
  border-radius: 10px;
  border: 1px solid #ffffff;
  /* height: 29px;
  width: 100%; */
  /* margin-top: 200px; */ */
}

.main__title {
  font-family: Rubik;
  font-size: xx-large;
  margin-top: 200px;
  margin-bottom: 30px;
}
