@font-face {
  font-family: Rubik;
  src: url("./fonts/Rubik-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #5ac8fa, #87ceeb, #0a84ff);
}

/* NAVBAR */
.admin__navbar {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.logo {
  color: #fff;
  letter-spacing: 2px;
}

/* MAIN */
.admin {
  max-width: 1100px;
  margin: 40px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 30px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
}

.admin h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

/* MESSAGES */
.messages {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.msg {
  background: rgba(255, 255, 255, 0.35);
  padding: 20px;
  border-radius: 20px;
  animation: fadeIn 0.4s ease;
}

.msg p {
  font-size: 16px;
  color: #000;
}

.time {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 8px;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
